<div class="jumbotron jumbotron-fluid spacer text-center">
  <div class="container">
    <h1 class="display-4">Lucky Lady List</h1>
    <p class="lead"></p>
    <a href="/ladies" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Begin</a>
  </div>
</div>


